@import "./date-picker/calendar.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans";
  background-color: #f2f4f6;
}

input {
  border-radius: 4px;
  box-shadow: none;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

li {
  list-style: none;
}

button {
  all: unset;
}

#main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #db5b33;
  font-weight: 300;
}
.date-input {
  display: block;
  margin-top: 20px;
  padding: 10px;
  width: 12rem;
  height: 2.5rem;
  cursor: pointer;
  border: 2px solid #dedfe1;
}

.date-input:focus {
  outline: none;
  border: 2px solid #557db5;
}
